.main-rectangle {
  margin: auto;
  width: 500px;
  height: 500px;
  background-color: aquamarine;
  position: relative;
}

.secondary-rectangle {
  width: 200px;
  height: 200px;
  background-color: blueviolet;
  position: absolute;
}
